<template>
  <!-- <div class="hello">
    <h1>{{ name }}</h1>
    <button v-on:click="changeName" v-bind:disabled="btnState">Change Name</button>
    <ul>
      <li v-for="(data, index) in skills" :key="index">{{ index }}. {{ data.skill }}</li>
    </ul>
    <p v-if="skills.length > 1">You have more than one skill.</p>
    <p v-else>You need more skills.</p>
    <p v-bind:class="{ alert: isAlert }">Alert</p>
  </div> -->
  <div class="hello">
    <div class="holder">
      <form @submit.prevent="addSkill">
        <input type="text" placeholder="Input your skill here..." v-model="skill" v-validate="'min:5'" name="skill" />
        <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
          <p class="alert" v-if="errors.has('skill')">{{ errors.first('skill') }}</p>
        </transition>
      </form>

      <ul>
        <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li v-for="(data, index) in skills" :key="index">
            {{ index + 1 }}. {{ data.skill }}
            <i class="fa fa-minus-circle" v-on:click="removeSkill(index)" />
          </li>
        </transition-group>
      </ul>

      <p>These are the skills that you possess.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Skills',
  props: {

  },
  data: function () {
    return {
      name: 'Skills',
      btnState: false,
      skills: [
        { skill: 'Vue.js' },
        { skill: 'Node.js' },
        { skill: 'Express.js' },
        { skill: 'Jquery' },
      ],
      skill: '',
      isAlert: true,
    };
  },
  methods: {
    changeName: function () { this.btnState = !this.btnState; },
    addSkill: function () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.skills.push({ skill: this.skill });
          this.skill = '';
        } else {
          // eslint-disable-next-line
          console.log('Not valid!');
        }
      });
    },
    removeSkill: function(index) {
      this.skills.splice(index, 1);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
  @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

  .holder {
    background: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
  }

  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }

  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }

  i {
    float: right;
    cursor: pointer;
  }

  .container {
    box-shadow: 0px 0px 40px lightgray;
  }

  .alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }

  .alert-in-enter-active {
    animation: bounce-in .5s;
  }

  .alert-in-leave-active {
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
